/nbproject/private/
/build/
/UPPG_Reports/build/
/ProcessDictionary/build/
/ProcessDictionary/nbproject/private/
/UPPG_Reports/nbproject/private/
/EclipseLink/build/
/sqljdbc/build/
/Apache-Commons-BeanUtils/build/
/JasperReports-Library/build/
/HelpSystem/build/
/ConnectionSettings/build/
/ConnectionSettings/nbproject/private/
/dist/